:root {
  --background-color: #f0f0f0;
  --btn-color: #5f1fc0;
  --btn-text-color: #f0f0f0;
  --text-color: #222;
  --border-color: rgba(0, 0, 0, 0.1);
  --icon-color: #222;
}

[data-theme="dark"] {
  --background-color: #0d0d0d;
  --btn-color: #5f1fc0;
  --btn-text-color: #222;
  --text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.1);
  --icon-color: #ffffff;
}

body {
  background-color: var(--background-color);
  transition: background 0.3s ease-in-out;
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
}

h1, h2, h3, p {
  color: var(--text-color);
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 1.25rem;
  width: 140px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 2px solid var(--btn-color);
  background-color: transparent;
  color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .button {
    width: 120px;
    height: 38px;
  }
}
